<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.computer.workshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register_Activity" />
        <activity android:name=".new_detial_Activity" />
        <activity android:name=".new_list_Activity" />
        <activity android:name=".row_list_Activity" />
        <activity android:name=".simple_list_viewActivity"></activity>
    </application>

</manifest>